/* reset browser css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main */

body {
  font-family: "Segoe UI", "Tahoma", "Verdana", "sans-serif";
  line-height: 1.7em;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #000000;
}

/*Container*/
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
  overflow: auto;
}

/*esileht showcase*/
#showcase {
  background: url("../img/avalehetaust.jpg") no-repeat center center/cover;
  height: 600px;
}
#showcase .showcase-content {
  color: #ffffff;
  text-align: center;
  padding-top: 170px;
}
/*sissejuhatus*/
.tutvustus {
  padding: 50px 0;
  text-align: center;
  background: #f8f9f8;
}
.border:hover,
.border:focus {
  outline: 2px solid Saffron;
}

/*lingi background*/
.background0 {
  height: 48px;
  width: 48px;
  background-color: #ffda03;
  border-radius: 33554400px;
  display: inline-block;
  margin-top: 50px;
}

.background1 {
  height: 40px;
  width: 40px;
  background-color: #69923e;
  border-radius: 50%;
  display: inline-block;
  margin-top: 60px;
}

.background2 {
  height: 40px;
  width: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-top: 60px;
}

.background3 {
  height: 40px;
  width: 40px;
  background-color: #fd0000;
  border-radius: 50%;
  display: inline-block;
  margin-top: 60px;
}

/*ringi numbrid*/
.ringi-number {
  margin-left: 15px;
  margin-top: 8px;
}

/*typography*/
body {
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
}

h2,
h3 {
  margin-left: 30px;
  padding-bottom: 10px;
}
/*navbar*/
#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#a {
  margin-left: 10px;
}

#navbar a {
  color: #fff;
}
#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #c99453;
  color: #f7c08a;
}
/*section container*/

.section-container {
  width: 768px;
  height: 332 px;
  margin: auto;
  grid-gap: 32px;
}
/*link grid*/
.link-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
/*grid*/
.grid-container {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  border: 1px solid #91a3b0;
  border-radius: 14px;

  /*height: 240px;*/
  padding: 20px;
}

p {
  margin-bottom: 1rem;
  margin-left: 10px;
}
.small {
  font-size: 0.875rem;
  color: gray;
}
/*footer*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-left: -50px;
}
